@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root{
    --brown-theme : #734D12;
    --light-theme : #EEC487;
    --logo-theme : #856043;
    --dancing-style : 'Dancing Script', cursive;
    --lora-font: "Lora", serif;
    --arimo-font: "Arimo", sans-serif;
}

a{
    color: black;
}

/*contact*/
.header-mobile{
    position: relative;
    background: var(--logo-theme);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-mobile h1{
    color: var(--light-theme);
    font-family: var(--dancing-style);
}

/*Menu dréoulant*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    border-radius: 5px;
    display: none;
    z-index: 100;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    display: block;
}

.dropdown-menu a:hover {
    color: #8B6B45;
}
/*Fin menu déroulane*/

.contact{
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    color: black;
    background: rgb(235, 229, 229);
    padding: 30px 0px 0px 0px;
}

.mail-tel{
    display: flex;
    gap: 45px;
    width: 90dvw;
    margin-left: 10dvw;
}

.mail-tel a{
    text-decoration: none;
    font-weight: bold;
    font-family: var(--lora-font);
}

nav a{
    color: white;
    text-decoration: none;
    font-family: var(--lora-font);
}

.header-social-media-logo{
    display: flex;
    width: 150px;
    justify-content: space-around;
    margin-right: 10dvw;
}

/*fin contact*/

/*début barre navigation*/
.barre-nav{
    position: absolute;
    display: flex;
    width: 80%;
    height: 128px;
    margin: -4em 0em 0em 10%;
    justify-content: space-between;
    align-items: center;
    background: var(--brown-theme);
    border-radius: 20px;
    z-index: 10;
}

nav{
    display: flex;
    justify-content: space-between;                                                                                                                                                 
    width: 60%;
    margin-right: 10dvw;
    font-size: 1.75dvw;
}

.barre-nav img{
    margin-left: 4.5em;
}
/*fin barre navigation*/

/*début banderolle*/
.banderolle{
    width: 100dvh;
    position: relative;
    z-index: 7;
    /*margin-top: -10dvh;*/
}

.brand-background img{
    position: absolute;
    width:100dvw;
    height : 67dvw;
}

.brand{
    margin-top: 5dvw;
    margin-left: 1em;
    color: white;
    width: 100dvw;
    font-size: 6dvw;
    position: absolute;
    z-index: 10;
    margin-top: 15dvh;
    font-family: var(--arimo-font);
}

.ecran{
    background: black; 
    width: 100dvw;
    height: 67dvw;
    opacity: 0.5;
}
.brand button{
    border: solid transparent;
    width: 24dvw;
    height: 7dvw;
    font-size: 2.5dvw;
    border-radius: 20px;
    font-family: var(--lora-font);
    font-weight: bold;
    background-color: white;
    color: var(--brown-theme);
    cursor: pointer;
    transition: all 0.3s ease;
}

.brand-button:hover{
    transform: translateY(-10px);
}

.brand a:first-of-type button{
    background-color: var(--brown-theme);
    color: white;
}

@media screen and (max-width:768px) { 
    .brand{
        margin-top: 0;
        font-size:8dvw;
    }
    .brand button{
        height: 10dvw;
        width: 35dvw;
        font-size: 3dvw;
    }
}
/*fin banderolle*/

/*début mission*/

.missions{
    background: #F1F0F0;
    padding-top: 2em;
    padding-bottom: 10em;
}

.missions h1{
    text-align: center;
    color: var(--brown-theme);
    font-size: 2em;
    font-family: var(--dancing-style);
}

.missions .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5dvw;
}

.missions .details-mission{
    text-align: center;
    width: 70dvh;
}

.missions img{
    width: 30dvw;
    height: 40dvw;
    border-radius: 20px;
}

.details-mission a{
    color: var(--brown-theme);
    font-style: bold;
}
@media screen and (max-width:768px) { 
    .missions h1{
        font-size: 1.6em;
    }
    .missions .card:nth-child(even){
        flex-wrap: wrap-reverse;
    }
    .missions img{
        width: 50dvw;
        height: 60dvw;
    }
}

/*fin mission*/

/*début chiffre asso*/
.asso-chiffre{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: var(--brown-theme);
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    border-radius: 60px;
    border-width: 5px;
    z-index: 10;
    margin : -97px 0 10px 5%;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.asso-chiffre-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asso-chiffre-item h1{
    color: var(--brown-theme);
    font-size: 2.7em;
    font-family:var(--dancing-style);
}

.asso-chiffre-item p{
    font-size: 1.7em;
}

/*fin chiffr asso*/

/*nouveautés*/
.nouveautés{
    color: var(--brown-theme);
    padding: 0 0 2dvw 0;
    margin-bottom: 5dvw;
}

.nouveautés-card{
    display: flex;
    justify-content: space-around;
    margin-top: 3.5em;
}

.nouveautés h1{
    font-size: 2.7em;
    text-align: center;
    font-family:var(--dancing-style);
}

.nouveautés h2{
    margin-bottom: -1.5dvw;
    font-family: var(--lora-font);
}

.nouveautés img{
    width: 40dvw;
    height: 25dvw;
}

.nouveautés-card .card{
    text-align: center;
    width: 80dvh;
    font-size: 1.3dvw;
}

@media screen and (max-width:768px) { 
    .nouveautés{
        margin-bottom: 3em;
    }
    .nouveautés h1{
        font-size: 2.5em;  
    }
    .nouveautés-card{
        flex-wrap: wrap;
    }
    .nouveautés h2{
        font-size: 2.9em;
    }
    .nouveautés .card{
        width: 70%;
    }
    .nouveautés img{
        width: 100%;
        height: 70%;
    }
}
/*fin nouveautés*/

/*TESTIMONIALS*/
.swiper{
    background-color: #F7E1C3;
}

.swiper h1{
    font-size: 2em;
    text-align: center;
    font-family:var(--dancing-style);
}

.swiper-slide{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 5em;
    width: 100%;
}
.slide-card-item{
    width: 50%;
    margin-left: 25%;
    border: solid;
    border-color: var(--brown-theme);
    background: whitesmoke;
    border-radius: 20px;
    padding: 2em 0 2em 0;
}

.slide-card-item span{
    font-weight: normal;
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination{
 color: var(--brown-theme);
}

@media screen and (max-width:768px) { 
    .slide-card-item{
        width: 76%;
        margin-left: 12%;
    }
}

/*FIN TESTIMONIALS*/

body{
    margin: 0;
    padding: 0;
}
  
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*toast 👋 */
.toast{
    border: solid transparent;
    background: var(--brown-theme);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: fixed;
    color: white;
    bottom: 50px;
    right: 50px;
    z-index: 5;
}

.notifs{
    border: solid transparent;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: var(--light-theme);
}

.toast p{
    font-size: 50px;
    margin-top: -15px;
    margin-left: -3px;
}

@media screen and (max-width:480px) { 
    .toast{
        width: 45px;
        height: 45px;
        bottom: 25px;
        right: 25px;
    }
    .toast p{
        font-size: 30px;
        margin-top: -0.5em;
        margin-left: -1.5px;
    }
    .notifs{
        width: 10px;
        height: 10px;
        background: var(--light-theme);
    }
}

/* Formulaire */
#form {
    max-width: 500px;
    background: var(--light-theme);
    overflow: hidden;
    border-radius: 16px;
    color: var(--brown-theme);
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 50px;
    gap: 15px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: 1.5em;
}

.form-section a {
    font-weight: bold;
    color: var(--brown-theme);
    transition: color .3s ease;
}

/*Button*/
.form button {
    background-color: var(--brown-theme);
    color: var(--light-theme);
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: var(--logo-theme);
    color: var(--light-theme);
}
/*Fin formulaire*/

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#icon-close{
    border: solid transparent;
    background-color: var(--light-theme);
    width: 100%;
    display: flex;
    justify-content: end;
    color: var(--brown-theme);
    padding-top: 25px;
    padding-right: 20px;
}

#icon-close-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#icon-close-hover:hover{
    background-color: var(--brown-theme);
    color: var(--light-theme);
}

/* FIN
